In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset/btc5m/BTC_5m.csv')

In [4]:
df

,Unnamed: 0,Open Time,Open,High,Low,Close,Volume,Close Time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,0,1567296300000,9604.57,9615.45,9594.00,9600.55,70.945642,1567296599999,6.814195e+05,561,18.906562,1.816853e+05,0
1,1,1567296600000,9598.48,9615.19,9598.02,9609.30,36.108642,1567296899999,3.469623e+05,578,21.347931,2.051242e+05,0
2,2,1567296900000,9609.31,9625.00,9609.30,9620.00,85.606839,1567297199999,8.232958e+05,951,42.620899,4.099077e+05,0
3,3,1567297200000,9620.00,9623.73,9608.14,9620.23,38.321111,1567297499999,3.685550e+05,575,15.023955,1.445116e+05,0
4,4,1567297500000,9616.25,9623.00,9611.87,9621.99,34.780151,1567297799999,3.345244e+05,481,18.500587,1.779531e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446406,446406,1701387300000,37712.32,37719.75,37700.00,37719.75,47.691340,1701387599999,1.798241e+06,2482,29.567910,1.114857e+06,0
446407,446407,1701387600000,37719.75,37726.71,37708.94,37716.49,33.594490,1701387899999,1.267114e+06,1782,13.710070,5.170810e+05,0
446408,446408,1701387900000,37716.48,37729.85,37707.14,37729.85,58.301260,1701388199999,2.198908e+06,2293,39.218960,1.479186e+06,0
446409,446409,1701388200000,37729.85,37729.85,37708.85,37708.86,32.002750,1701388499999,1.207060e+06,1702,13.076360,4.931556e+05,0
446410,446410,1701388500000,37708.85,37723.97,37705.45,37723.96,35.413610,1701388799999,1.335370e+06,1672,23.059570,8.695243e+05,0